* {
    padding:0;
    margin:0;
    text-decoration: none;
    list-style:none;
    box-sizing:border-box ;
}

body {
    font-family: montserrat;
}

#navbar{
    
    background-color: #040404;
    height:80px;
    width: 100%
}
label.logo{
    color: #DBD31C;
    font-size:35px;
    line-height : 80px;
    padding:0 100px;
    font-weight:bold;

}
#ulNav{
    display: table-column;
    float: right;
    margin-right: 20px;
} 

#listNav{
    display:inline-block;
    line-height:80px ;
    margin: 0 5px;
}

#lienNav{
    text-decoration: none;
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    text-transform: uppercase ;

}
#devisNav{
    text-decoration: none;
    color: rgb(255, 4, 4);
    font-size: 17px;
    padding: 7px 13px;
    text-transform: uppercase ;  
}

#devisNav.active,#lienNav.active,#devisNav:hover, #lienNav:hover{
    background: #FF9A01;
    border-radius: 25%;
    transition: .5s;
}
.checkbtn{
    font-size:30px;
    color:white;
    float:right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media (max-width: 952px) {
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
  
    .checkbtn{
        display:block;
    }
    #ulNav{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top:80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
   
    #listNav{
        display: block;
        margin: 50px 0;
        line-height:30px;
    }
    #lienNav{
        font-size:20px;
    }
    #lienNav.active, #lienNav:hover{
       
        border-radius: 25% !important;
        transition: .5s !important;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
